# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- List of Data Science tools.
- Use of arithmetic expression

Some of the popular languages that Data Scientists use are:
*  Python
*  R
*  Java

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Tensonflow
* Ploty
* Scipy

|Data Science Tools|
|--------|
|Jupyter Notebook|
|Apache Spark|		
|BigML|

### Below are a few examples of evaluating arithmetic expressions in Python
1. 3+4
1. 5-6
1. (5*1)+2
1. (4+2)/2

In [104]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [106]:
#This will convert 200 minutes to hours by diving by 60
min=200
sec=60

hr=min/sec
print(min ,"minuts coorresponds to ", hr, "hours")

200 minuts coorresponds to  3.3333333333333335 hours

## Author
Lidis Quessia S. da Mata